%ul
  - failures.each do |failure|
    %li
      - if failure.details || failure.job_id
        %details
          %summary
            %code
              = failure.summary
          - if failure.details
            %pre
              %code
                = failure.details
          - if failure.job_id
            %p
              in
              %a{href: "##{failure.job_id}"}
                job
                = failure.job_id
      - else
        %code
          = failure.summary
