- jobs = failures.map(&:job_id).uniq.reject { |job| job == nil }
- if jobs.count == 1
  Job:
  %a{href: "##{jobs.first}"}
    = jobs.first

%ul
  - failures.each do |failure|
    %li
      - if failure.details
        %details
          %summary
            %code
              = failure.summary
          %pre
            %code
              = failure.details
          - unless failure.job_id.nil? || jobs.count == 1
            %p
              Job:
              %a{href: "##{failure.job_id}"}
                = failure.job_id
      - else
        %code
          = failure.summary
