%ul
  - failures.each do |failure|
    %li
      - if failure.message || failure.details || failure.job_id
        %details
          %summary
            %code
              = failure.summary
          %dl
            - if failure.message
              %dt Message
              %dd
                %pre
                  %code
                    = failure.message
            - if failure.details
              %dt Details
              %dd
                %pre
                  %code
                    = failure.details
            - if failure.job_id
              %dt Job
              %dd
                %a{href: "##{failure.job_id}"}
                  = failure.job_id
      - else
        %code
          = failure.summary
